@font-face {
  font-family: "TsukuArd Gothic";
  src: url("./fonts/TsukuArd\ Gothic.ttc");
}

:root {
  --bg-colour: black;
  --font-colour: white;
  --header-height: 50px;
}

* {
  margin: 0;
  /* border: 1px solid red; */
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--bg-colour);
  color: var(--font-colour);
  font-family: 'TsukuArd Gothic', Arial, sans-serif;
  font-size: 18px;
}

/* Header Styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-colour);
  height: var(--header-height);
  padding: 1.25rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar {
  display: flex;
  gap: 0.5rem;
}

.header-image {
  height: 100%;
}


/* Main Content Styling */
.main-top, 
.main-menu,
.main-access {
  margin-top: calc(var(--header-height) + 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-top-image {
  width: 100%;
}

.main-top-text,
.main-menu-heading {
  text-align: center;
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 4rem 0 2rem;
}

.main-menu-container {
  margin-bottom: 4rem;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.25rem;
}

.menu-card {
  font-size: 1.25rem;
  padding: 1.25rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

.menu-card-image {
  width: 100%;
}

.menu-card-info {
  text-align: center;
}

.menu-card-text {
  font-size: 0.9rem;
}


/* Built in Elements Styling */
a {
  color: var(--font-colour);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}